.gallery {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.gallery img {
 width:200px;
 height: 200px;
 margin: 60px 40px 0 40px;

}

#search{
   display: block;
   margin : 20px auto;
   padding: 10px;

}

@media only screen and (max-width: 600px){
    .gallery{
        flex-direction: column;
     
    }
    .gallery img{
        display: block;
        width:90%;
        margin: 5px auto;
        border: 2px solid lightgray;
        padding: 4px;
    }
}